{{ if isset .Site.Params "collaborators" }}
<div class="container">
    <div class="row sponsors">
        <div class="col-md-12">
            <p>In collaboration with:</p>
        </div>
    </div>
    <div class="row sponsors">
        {{$collaborators_len := len .Site.Params.collaborators}}
        {{ range .Site.Params.collaborators }}
            <div class="col-md-3 center-block">
                <a href="{{.link}}"><img src="{{.image}}" alt="{{.name}}" class="img-responsive center-block" height="{{.size | default 200}}" width="{{.size | default 200}}"></a>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ if isset .Site.Params "sponsors" }}
<div class="container">
    <div class="row sponsors">
        <div class="col-md-12">
            <p>Supported by contributions from:</p>
        </div>
    </div>
    <div class="row sponsors">
        {{$sponsors_len := len .Site.Params.sponsors}}
        {{ range .Site.Params.sponsors }}
        <div class="col-md-3 center-block">
            <a href="{{.link}}"><img src="{{.image}}" alt="{{.name}}" class="img-responsive center-block" height="{{.size | default 200}}" width="{{.size | default 200}}"></a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
